---
layout: base
title: Home
---

<div class="features">
  <a class="feature" href="{{ '/games.html' | absolute_url }}">
    <h3>Game Design</h3>
    <div>Board game projects, from prototype to publish</div>
  </a>

  <a class="feature" href="{% post_url /2011-04-28-music-made-me %}">
    <h3>Music Made Me</h3>
    <div>An autobiography as told by music</div>
  </a>

  <a class="feature" href="{{ '/tags/2024.html' | absolute_url }}">
    <h3>2024 in Review</h3>
    <div>My favorite media from 2024</div>
  </a>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

{% include pagination.html %}
