.sidebar h1 {
  font-weight: normal;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.image-gallery img {
  margin: 0px;
}

@media (max-width: 820px) {
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
