.sidebar h1 {
  font-weight: normal;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.image-gallery img {
  margin: 0px;
}

@media (max-width: 820px) {
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.post img {
  width: 100%;
}

.playIcon {
  height: 1em;
  width: 1em;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.2em;
}

.playIcon.switch {
  background-image: url(/media/switch.png);
}
.playIcon.xbox {
  background-image: url(/media/xbox.png);
}