.sidebar h1 {
  font-weight: normal;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.image-gallery img {
  margin: 0px;
}

@media (max-width: 820px) {
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.post img {
  width: 100%;
}

.post img.book {
  width: 33%;
  float: left;
  margin: 1em;
}

.playLine {
  font-size: smaller;
  margin-bottom: 2rem;
}

.playIcon {
  height: 1em;
  width: 1em;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.2em;
}

.playLine .ios,
.playIcon.ios {
  background-image: url(/media/ios.png);
}
.playLine .switch,
.playIcon.switch {
  background-image: url(/media/switch.png);
}
.playLine .xbox,
.playIcon.xbox {
  background-image: url(/media/xbox.png);
}
.playLine .hbo,
.playIcon.hbo {
  background-image: url(/media/hbo.png);
}
.playLine .netflix,
.playIcon.netflix {
  background-image: url(/media/netflix.png);
}
.playLine .amazon,
.playIcon.amazon {
  background-image: url(/media/amazon.png);
}
.playLine .disney,
.playIcon.disney {
  background-image: url(/media/disney.png);
}
.playLine .bgg,
.playIcon.bgg {
  background-image: url(/media/bgg.png);
}
.playLine .audible,
.playIcon.audible {
  background-image: url(/media/audible.png);
}
.playLine .goodreads,
.playIcon.goodreads {
  background-image: url(/media/goodreads.png);
}