{% if page.series %}
{% assign posts = site.posts | where: "series", page.series | sort: 'date' %}
{% for post in posts %}
  {% if post.id == page.id %}
    {% assign current_index = forloop.index0 %}
  {% endif %}
{% endfor %}

{% assign prev_index = current_index | minus: 1 %}
{% assign next_index = current_index | plus: 1 %}

{% assign first_post = posts[0] %}

{% if current_index > 0 %}
  {% assign prev_post = posts[prev_index] %}
{% endif %}

{% if next_index <= posts.size %}
  {% assign next_post = posts[next_index] %}
{% endif %}
<div class="post-series">
    <div>
        <h3><a href="{{ first_post.url | relative_url }}">{{ page.series }}</a></h3>
        <div class="post-date">Part {{current_index | plus: 1}} of {{ posts | size }} part series</div>
    </div>
    <div class="pagination">
      {% if prev_post %}
        <div class="pagination-item older">
          <a href="{{ prev_post.url | relative_url }}">{{ prev_post.title }} </a>
          <span class="post-date">{{ prev_post.date | date_to_string }}</span>
        </div>
      {% else %}
        <span class="pagination-item older">Previous</span>
      {% endif %}
      {% if next_post %}
      <div class="pagination-item newer">
        <a href="{{ next_post.url | relative_url }}">{{ next_post.title }} </a>
        <span class="post-date">{{ next_post.date | date_to_string }}</span>
      </div>
      {% else %}
        <span class="pagination-item newer">Next</span>
      {% endif %}
  </div>
</div>
{% endif %}