<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" && node.url != 'posts.html' %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <h4>Blog topics</h4>
    <ul>
      {% assign post_count = site.posts.size %}
      <li><a class="sidebar-nav-item{% if page.url == '/posts.html' %} active{% endif %}" href="{{ '/posts/' | absolute_url }}">All posts<span class="count"> ({{post_count}})</span></a></li>

      {% assign tag_pages = "video-games music movies board-games guitar television" | split: " " %}
      {% for tag in tag_pages %}
        {% capture tag_page_url_html %}/tags/{{ tag }}.html{% endcapture %}
        {% capture tag_page_url %}/tags/{{ tag }}/{% endcapture %}
        {% assign tag_page_name = tag | replace: "-", " " | capitalize %}
        {% assign tag_count = site.tags[tag].size %}
        <li><a class="sidebar-nav-item{% if page.url == tag_page_url_html %} active{% endif %}" href="{{ tag_page_url | absolute_url }}">{{ tag_page_name }}<span class="count"> ({{tag_count}})</span></a></li>
      {% endfor %}
    </ul>

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
