---
---

@import "{{ site.theme }}";

img.card {
  clip-path: inset(10px round 0.5em);
  max-width: 250px;
  max-height: 250px;
  margin: -10px;
}

table img {
  border: initial;
  box-shadow: initial;
  -webkit-box-shadow: initial
}

table.noBorder {
  border: initial;
}

table.noBorder td {
  border: initial;
  padding: 0px;
}

table.noBorder .componentDescription {
  min-width: 170px;
  margin-bottom: 20px;
  vertical-align: top;
}