---
---

@import "{{ site.theme }}";

img.card {
  clip-path: inset(10px round 0.5em);
  max-width: 250px;
  max-height: 250px;
  margin: -10px;
}

table img {
  border: initial;
  box-shadow: initial;
  -webkit-box-shadow: initial
}

table.noBorder {
  border: initial;
}

table.noBorder td {
  border: initial;
  padding: 0px;
}

table.components {
  width: 100%;
  table-layout: fixed;
}

table.components td {
  max-width: 150px;
}

table.components td.componentDescription {
  min-width: 170px;
  padding-bottom: 20px;
  vertical-align: top;
}

@media (max-width: 480px) {
  table.components td {
    max-width: 100px;
  }
  table.components td.componentDescription {
      min-width: initial;
      max-width: 120px;
  }
  table.components img.card {
    max-width: unset;
  }
}