---
---

@import "{{ site.theme }}";

img.card {
  clip-path: inset(10px round 0.5em);
  max-width: 250px;
  max-height: 250px;
  margin: -10px;
}
img.tabletopLayout {
  width: 100%;
  object-fit: contain;
}

table td {
  /* Default of baseline creates weird layout for typical image/text components */
  vertical-align: bottom;
}

table img {
  border: initial;
  box-shadow: initial;
  -webkit-box-shadow: initial;
  padding: initial;
  margin: initial;
}

table.noBorder {
  border: initial;
}

table.noBorder td {
  border: initial;
  padding: 0px;
}

table.components {
  width: 100%;
  table-layout: fixed;
}

table.components td:not(.componentDescription) img {
  width: 100%;
  object-fit: contain;
}

table.components td {
  max-width: 150px;
}

table.components td.componentDescription {
  min-width: 170px;
  padding-bottom: 20px;
  vertical-align: top;
}

table.components td:not(.card):not(.componentDescription) {
  vertical-align: middle;
  text-align: center;
}

table.splitTable {
  border: none;
}

table.splitTable th.splitColumn {
  background: none;
}
table.splitTable th:first-child,
table.splitTable th.splitColumn {
  border-left: 1px solid #373737;
}
table.splitTable th.splitTable,
table.splitTable th.splitColumn {
  border-right: 1px solid #373737;
}

table.splitTable td.splitColumn {
  border: none;
}

@media (max-width: 480px) {
  table.components td {
    max-width: 100px;
  }
  table.components td.componentDescription {
      min-width: initial;
      max-width: 120px;
  }
  table.components img.card {
    max-width: unset;
    width: 100%;
    object-fit: contain;
  }
}

.image-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
  grid-auto-rows: 150px;
  column-gap: 8px;
  row-gap: 8px;
}

.img-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  border: none;
  -webkit-box-shadow: none;
  &:hover {
    transform: scale(1.05);
  }
}

.img-gallery a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: start;
  align-items: stretch;
}